/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
} */

/* header {
  background-color: #f8f8f8;
}


.navbar  .nav-link{
  color: black;
  font-weight: bold;
} */